.single-card{
     height: 100%;
     width: 75%;
     border: 1px solid black;
     box-shadow: 5px 5px 8px rgb(118, 117, 117);
     background-color: rgb(61, 61, 61);
     border-radius: 10px;
     position: relative;
}

.card-image img{
    width: 100%;
    border-radius: 22px;
    padding: 3%;
}

.button{
    margin-top: 5px;
    position: absolute;
    bottom: 0%;
}

.button:hover{
    background-color: navy !important ;
}

